@import "../../styles/vars";

.BeerItem {
  background: white;
  color: black;
  width: 30%;
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.BeerItem__wrapper {
  float: left;
  height: 100%;
  width: 50px;
}

.BeerItem__img {
  width: auto;
  height: 100px;
}